* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    cursor: default;
}

body {
    background-image: url(images/Background.jpg);
    background-size: 100%;
}

header {
    position: relative;
}

header img {
    width: 98%;
    padding-left: 2%;
}

header h1 {
    padding:6% 5% 2% 28%;
   position: absolute;
   font-size: 3em;
   color:#e0e0e0;
}

aside {
    padding-left: 5%;
    width: 25%;
}

li {
    display: block;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding: 2%;
}

.lista {
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}

.nav_stil {
    padding-left:7%;
}

a:hover {
    color: #616161;
    transition: all 0.5s;
}

aside img {
    padding: 5% 10%;
    border: 1px solid #fff;
    margin:10% 20%;
    height:60%;
    width: 60%;
}

main {
    position: relative;
}

.glavni_text {
    position: absolute;
    padding: 0 2%;
    margin-left:26%;
    top:0;
    width:68%;
    text-align: justify;
}

main p {
    padding-top: 3%;
}

main h2 {
    background-color: #958274;
    color: #fff;
    margin-top: 2%;
}

table {
    padding:3%;
    width: 50%;
}

td {
    padding: 1% 1%;
    width: 1%;
}

.linkovi {
    cursor: pointer;
    color: #616161;
}

.linkovi:hover {
    color:#958274;
    transition: all 0.5s;
}

footer {
    text-align: center;
    padding-top: 10%;
    padding-left: 25%;
    color: #958274;
    font-size: 1em;
}




